:root {
  --text-color: #424244;
  --accent-color: #f8e503;
  --background-color: #fffefd;
  --red: #ec2e2e;
  --orange: #f79324;
  --green: #0dab4e;
  --blue: #05a8df;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

button {
  padding: 8px 15px;
  border-radius: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: var(--text-color);
  display: inline-block;
}
